:root {
  --primary-color: rgb(255, 224, 0);
  --light-orange: rgb(239, 115, 32);
  --dark-orange: rgb(238, 98, 4);
  --darker-orange: rgb(242, 80, 29);
  --green: rgb(53, 170, 14);
  --container-width: 1200px;
}
